<app-navbar-one/>

<div class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70" style="background-image:url('assets/img/shortcode/breadcumb.jpg');">
    <div class="text-center w-full">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">About Us</h2>
        <ul class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4 flex-wrap">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">About</li>
        </ul>
    </div>
</div>


<div class="s-pb-100 pt-12 md:pt-16" data-aos="fade-up">
    <div class="container-fluid">
        <div class="max-w-[1720px] mx-auto flex flex-col-reverse lg:grid lg:grid-cols-1">
            <div class="flex items-center py-8 sm:py-12 px-5 sm:px-12 md:px-8 lg:pr-12 lg:pl-16 2xl:pl-[160px] bg-[#F8F8F9] dark:bg-dark-secondary">
                <div>
                    <div>
                        <img [src]="'assets/img/svg/about.svg'" class="w-16" alt="">
                    </div>

                    <h3 class="font-medium leading-none mt-4 md:mt-6 text-2xl md:text-3xl">Our Story Journey</h3>
                    <div class="loader-wrapper" *ngIf="isLoading">
                        <span class="loader"></span>
                    </div>
                    <p class="mt-3 text-base sm:text-lg" [innerHtml]="apiData?.about || ''"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="s-pb-100">
    <div class="container-fluid">
        <div class="max-w-xl mx-auto mb-8 md:mb-12 text-center" data-aos="fade-up">
            <div>
                <img [src]="'/assets/img/svg/like.svg'" class="mx-auto size-16" alt="">
            </div>
            <h3 class="font-medium leading-none mt-4 md:mt-6 text-2xl md:text-3xl">Why You Choose Us</h3>
            <p class="mt-3">Choose us for exceptional quality, We prioritize your satisfaction by offering premium products and a seamless shopping experience. </p>
        </div>
        <div class="max-w-sm sm:max-w-[1720px] mx-auto grid sm:grid-cols-2 md:grid-cols-3 xl:flex lg:justify-between gap-7 flex-wrap lg:flex-nowrap" data-aos="fade-up" data-aos-delay="100">
            <ng-container *ngFor="let item of feature">
                <div class="p-6 pb-0 rounded-[10px] relative">
                    <div class="w-[1px] h-[120px] absolute right-0 top-[30%]" [ngClass]="item.id === 5 ? '' : 'hidden 2xl:block border-l border-dashed border-primary'"></div>
                    <img [src]="item.image" alt="" class='size-12' />
                    <h5 class="font-semibold text-xl md:text-2xl mt-3 md:mt-7">{{item.title}}</h5>
                    <p class="mt-2 sm:mt-3">{{item.desc}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <div class="container-fluid" data-aos="fade-up">
    <div class="bg-overlay before:bg-title before:bg-opacity-20 h-64 sm:h-96 lg:h-[650px] flex items-center justify-center max-w-[1720px] mx-auto" style="background-image: url('assets/img/about/video-bg.jpg');">
        <a [routerLink]="" (click)="open = !open" class="popup-video w-12 sm:w-[70px] h-12 sm:h-[70px] rounded-full bg-white dark:bg-title flex items-center justify-center">
            <svg class="fill-current text-title dark:text-white" width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.58357 0.369445C1.15676 -0.497057 0 0.212792 0 1.95367V14.8006C0 16.5432 1.15676 17.2521 2.58357 16.3864L13.1895 9.94678C14.6168 9.07997 14.6168 7.67561 13.1895 6.80901L2.58357 0.369445Z"/>
            </svg>
        </a>
    </div>
</div> -->

<!-- <div class="s-py-100" >
    <div class="container-fluid">
        <div class="max-w-xl mx-auto mb-8 md:mb-12 text-center" data-aos="fade-up">
            <div>
                <img [src]="'/assets/img/svg/hand.svg'" class="mx-auto size-16" alt="">
            </div>
            <h3 class="font-medium leading-none mt-4 md:mt-6 text-2xl md:text-3xl">Trusted Partner</h3>
            <p class="mt-3">Count on our trusted partnerships to deliver excellence. Collaborating with industry leaders ensures top-quality products. </p>
        </div>
        <div data-aos="fade-up" data-aos-delay="100">
            <app-partner-one/>
        </div>
    </div>
</div> -->

<app-footer-one/>

<div *ngIf="open" class="fixed top-0 left-0 bg-black bg-opacity-50 w-full h-full z-[99999]">
    <div class="flex items-center justify-center h-full">
        <div class="relative w-[300px] h-[200px] sm:w-[600px] sm:h-[450px] md:w-[750px] md:h-[500px]" >
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/yba7hPeTSjk?playlist=yba7hPeTSjk&loop=1">
            </iframe>
            <div (click)="open = !open" class="absolute top-[-10px] right-[-10px] cursor-pointer w-8 h-8 bg-primary bg-opacity-70 text-center"><i class="fa-solid fa-xmark text-white text-[20px] mt-1"></i></div>
        </div>
    </div>
</div>