<app-navbar-one/>

<div class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70">
    <div class="text-center w-full">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Items</h2>
        <ul class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Items</li>
        </ul>
    </div>
</div>

<div class="s-py-100">
    <div class="container-fluid">
        <!-- <div class="flex items-start justify-between gap-8 max-w-[1720px] mx-auto flex-col lg:flex-row border-b border-bdr-clr dark:border-bdr-clr-drk pb-8 md:pb-[50px]" >
            <div>
                <h4 class="font-medium leading-none text-xl sm:text-2xl mb-5 sm:mb-6">Choose Category</h4>
                <div class="flex flex-wrap gap-[10px] md:gap-[15px]">
                    <a class="btn btn-theme-outline btn-sm shop1-button" *ngFor="let category of categoryList" (click)="onCategoryClick(category.id)" data-text="{{ category.catname }}"
                        [ngClass]="{'shop1-button-active': selectedCategory === category.id}">
                        <span>{{ category.catname }}</span>
                    </a>
                </div>
            </div>
        </div> -->
        
        <div class="loader-wrapper" *ngIf="isLoading">
            <span class="loader"></span>
        </div>
        <app-layout-one [productList]="itemsList" [classList]="'max-w-[1720px] mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 sm:gap-8 pt-8 md:pt-[50px]'"/>

        <app-pagination *ngIf="noOfPages > 1" [currentPage]="page" [totalPages]="noOfPages" (pageChange)="pageChange($event)" />
    </div>
</div>

<app-footer-one/>