 <div class="s-pt-100 2xl:pb-[100px]">
    <div class="container max-w-auto mx-auto">
        <div class="flex flex-col 2xl:flex-row items-start justify-between gap-10">
            <div class="max-w-[400px] 2xl:max-w-[400px] w-full text-left sm:text-center 2xl:text-left sm:mx-auto 2xl:mx-0">
                <h4 class="leading-none mb-5 md:mb-6 text-xl">Telyra Systems Private Limited</h4>
                <p class="mt-[15px]">
                    WeWork, K Raheja Mindspace, Survey No. 64,
                    Building Number 9, 13th Floor, Madhapur,
                    HYDERABAD,
                    TELANGANA, 500081
                </p>
                <p class="mt-[15px]">Mobile: +91-7661827023</p>
                <p class="mt-[15px]">Email:
                    <a [href]="'mailto:telyrasystemspvtltd2025@gmail.com'">
                        telyrasystemspvtltd2025@gmail.com
                    </a>
                </p>
                <p class="mt-[15px]">© {{year}} Telyra.</p>
            </div>
            <div class="grid grid-cols-1">
                <div>
                    <h4 class="leading-none mb-5 md:mb-6 text-xl">Customer Service</h4>
                    <ul class="text-title dark:text-white leading-none flex flex-col gap-4">
                        <li *ngFor="let item of footerLink" class="duration-100 hover:text-primary inline-block group">
                            <a class="text-underline-primary" [routerLink]="item.link" [queryParams]="{ load: item.param }"
                                (click)="scrollToTop()">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block 2xl:hidden py-5 text-center mt-14">
            <p>© {{year}} Telyra. All rights reserved.</p>
        </div>
    </div>
</div>