<div class="header-area default-header relative z-50 bg-white dark:bg-title" [ngClass]="scroll ? 'sticky-header' : ''">
    <div class="container-fluid">
        <div class="flex items-center justify-between gap-x-6 max-w-[1720px] mx-auto relative py-[10px] sm:py-4 lg:py-0">
            <!-- Logo -->
            <a class="cursor-pointer block" [routerLink]="'/'" aria-label="Chedan">
                <img [src]="'assets/img/custom/Chedan.png'" alt="" class='dark:hidden w-[60px] sm:w-[70px]'/> 
                <img [src]="'assets/img/custom/Chedan.png'" alt="" class='dark:block hidden w-[60px] sm:w-[70px]'/>
            </a>

            <!-- Menu -->
            <div class="main-menu absolute z-50 w-full lg:w-auto top-full left-0 lg:static bg-white dark:bg-title lg:bg-transparent lg:dark:bg-transparent px-5 sm:px-[30px] py-[10px] sm:py-5 lg:px-0 lg:py-0" [ngClass]="toggle ? 'active' : ''">
                <ul class="text-lg leading-none text-title dark:text-white lg:flex lg:gap-[30px]">
                    <li [ngClass]="current === '/home' ? 'active' : ''"><a [routerLink]="'/home'">Home</a></li>
                    <li [ngClass]="current === '/items' ? 'active' : ''"><a [routerLink]="'/items'">Items</a></li>
                    <li [ngClass]="current === '/icons' ? 'active' : ''"><a [routerLink]="'/icons'">Icons</a></li>
                    <li [ngClass]="current === '/about' ? 'active' : ''"><a [routerLink]="'/about'">About</a></li>
                    <li [ngClass]="current === '/contact' ? 'active' : ''"><a [routerLink]="'/contact'">Contact</a></li>
                    <li [ngClass]="current === '/faq' ? 'active' : ''"><a [routerLink]="'/faq'">FAQ's</a></li>
                    <li [ngClass]="current === '/my-account' ? 'active' : ''" *ngIf="isLoggedIn"><a [routerLink]="'/my-account'">My Account</a></li>
                    <li class="lg:hidden"><a [routerLink]="'/login'" *ngIf="!isLoggedIn">Login</a></li>
                    <li class="lg:hidden"><a [routerLink]="'/login'" *ngIf="isLoggedIn" (click)="logout()">Logout</a></li>
                </ul>
            </div>

            <app-nav-menu [toggle]="toggle" (childValueChange)="onChildValueChange($event)"/>
        </div>
    </div>
</div>

