<app-navbar-one />

<div class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70">
    <div class="text-center w-full">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Checkout</h2>
        <ul
            class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4 flex-wrap">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Checkout</li>
        </ul>
    </div>
</div>

<div class="s-py-100">
    <div class="container">
        <div class="max-w-[1220px] mx-auto grid lg:grid-cols-1 gap-[30px] lg:gap-[70px]">

            <div data-aos="fade-up" data-aos-delay="200">
                <div
                    class="bg-[#FAFAFA] dark:bg-dark-secondary pt-[20px] md:pt-[30px] lg:pt-[40px] px-[20px] md:px-[30px] lg:px-[30px] pb-[20px] border border-[#17243026] border-opacity-15 rounded-xl">
                    <h4 class="font-semibold leading-none text-xl md:text-2xl mb-6 md:mb-10"></h4>
                    <div class="grid gap-5 mg:gap-6">

                        <div class="flex items-center justify-between gap-5" *ngFor="let item of cartItems">
                            <div class="flex items-center gap-3 md:gap-4 lg:gap-6 cart-product flex-wrap">
                                <div class="w-16 sm:w-[70px] flex-none">
                                    <img [src]="item.image_url" alt="product">
                                </div>
                                <div class="flex-1">
                                    <h6 class="leading-none font-medium">{{item.catname}}</h6>
                                    <h5 class="font-semibold leading-none mt-2"><a [routerLink]="[]">
                                            {{item.itemname}} <br><small>by {{item.artist?.aname}}</small></a>
                                    </h5>
                                </div>
                            </div>

                            <h6 class="leading-none">
                                {{item.itemcost | currency:'INR'}}
                            </h6>
                            <h6 class="leading-none">
                                {{item.quantity}}
                            </h6>
                            <h6 class="leading-none">
                                {{(item.itemcost * item.quantity) | currency:'INR'}}
                            </h6>
                        </div>
                    </div>
                    <div class="mt-6 pt-6 border-t border-bdr-clr dark:border-bdr-clr-drk">
                        <div class="flex justify-between flex-wrap font-semibold leading-none text-2xl md:text-3xl">
                            <span>Total:</span>
                            <span>&nbsp;{{ cartTotal | currency:'INR' }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt-7 md:mt-12">
                    <div class="mt-4 md:mt-6 flex flex-wrap gap-3 float-right">
                        <button [disabled]="checkoutDisable || makingPayment" [routerLink]="'/cart'" class="btn btn-outline"
                            data-text="Back to Cart">
                            <span>Back to Cart</span>
                        </button>
                        <button (click)="handleOrder()" [disabled]="checkoutDisable || makingPayment || isLoading"
                            class="btn btn-theme-solid"
                            [attr.data-text]="checkoutDisable || makingPayment ? 'Loading...' : 'Place Order'">
                            <span *ngIf="!checkoutDisable && !makingPayment">Place Order</span>
                            <span *ngIf="checkoutDisable || makingPayment">Loading...</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-one />