<app-navbar-one />

<div class="flex bg-[#EBEBEB]">
    <!-- <div class="w-1/2 hidden md:block lg:flex-1">
        <img class="h-full object-cover" [src]="'assets/img/custom/new.png'" alt="login">
    </div> -->
    <div
        class="w-full py-16 px-[20px] sm:px-8 lg:p-16 xl:p-24 relative z-10 flex items-center justify-center overflow-hidden">
        <div class="mx-auto md:mx-0 max-w-md">
            <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
                <h2 class="leading-none" data-aos="fade-up">Welcome back !</h2>
                <div class="mt-7" data-aos="fade-up" data-aos-delay="200">
                    <label class="text-base sm:text-lg font-medium leading-none mb-2.5 block dark:text-white">
                        Email    
                    </label>
                    <input
                        class="w-full h-12 md:h-14 bg-white dark:bg-transparent border border-bdr-clr focus:border-primary p-4 outline-none duration-300"
                        type="text" placeholder="Enter your Email" formControlName="email_id">
                </div>
                <div class="mt-5" data-aos="fade-up" data-aos-delay="300">
                    <label
                        class="text-base sm:text-lg font-medium leading-none mb-2.5 block dark:text-white">Password</label>
                    <div class="relative">
                        <input #loginPasswordInput
                            class="w-full h-12 md:h-14 bg-white dark:bg-transparent border border-bdr-clr focus:border-primary p-4 pr-14 outline-none duration-300 placeholder:text-xl placeholder:transform placeholder:translate-y-[10px]"
                            type="password" placeholder="* * * * * * * *" formControlName="password">
                        <button type="button" aria-label="Toggle password visibility" style="top: 65%;"
                            class="absolute right-4 top-1/2 -translate-y-1/2 text-sm text-slate-600 dark:text-white"
                            (click)="viewPassword(loginPasswordInput)">
                            Show
                        </button>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="500">
                    <button class="btn btn-theme-solid mt-[15px]" [attr.data-text]="isLoading ? 'Logging in...' : 'Login'" type="submit"
                        [disabled]="isLoading">
                        <span *ngIf="!isLoading">Login</span>
                        <span *ngIf="isLoading">Logging in...</span>
                    </button>
                </div>
                <p class="text-lg mt-[15px]" data-aos="fade-up" data-aos-delay="600">Don't have an account yet? <a
                        [routerLink]="'/register'" class="text-primary font-medium ml-1 inline-block">Register</a></p>
            </form>
        </div>
    </div>
</div>

<app-footer-one />