<app-navbar-one />

<div class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70">
    <div class="text-center w-full" *ngIf="load === 'terms-and-conditions'">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Terms & Conditions</h2>
        <ul
            class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Terms & Conditions</li>
        </ul>
    </div>
    <div class="text-center w-full" *ngIf="load === 'privacy'">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Privacy Policy</h2>
        <ul
            class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Privacy Policy</li>
        </ul>
    </div>
    <div class="text-center w-full" *ngIf="load === 'cancellation'">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Cancellation Policy</h2>
        <ul
            class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Cancellation Policy</li>
        </ul>
    </div>
    <div class="text-center w-full" *ngIf="load === 'reimbursement'">
        <h2 class="text-white text-8 md:text-[40px] font-normal leading-none text-center">Reimbursement Policy</h2>
        <ul
            class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4">
            <li><a [routerLink]="'/'">Home</a></li>
            <li>/</li>
            <li class="text-primary">Reimbursement Policy</li>
        </ul>
    </div>
</div>

<div class="s-py-100">
    <div class="container">
        <div class="loader-wrapper" *ngIf="isLoading">
            <span class="loader"></span>
        </div>
        <div class="max-w-[940px] mx-auto" data-aos="fade-up" *ngIf="apiData">
            <article
                class="prose prose-h3:!text-3xl prose-h4:!text-2xl sm:prose-lg dark:prose-p:text-white-light dark:prose-li:text-white-light max-w-full prose-li:list-none prose-li:before:relative prose-li:before:content-[url('assets/img/icon/check.svg')] prose-ol:!pl-0 sm:prose-ol:!pl-0 prose-ul:pl-0 sm:prose-ul:pl-0 prose-li:flex prose-li:items-start prose-li:gap-2">
                <div *ngIf="load === 'terms-and-conditions'">
                    <p class="pb-4 leading-[30px]" [innerHTML]="apiData.terms || 'Terms and conditions not available.'"></p>
                </div>
                
                <div *ngIf="load === 'privacy'">
                    <p class="pb-4 leading-[30px]" [innerHTML]="apiData.privacy || 'Terms and conditions not available.'"></p>
                </div>
                
                <div *ngIf="load === 'cancellation'">
                    <p class="pb-4 leading-[30px]" [innerHTML]="apiData.cancellation || 'Terms and conditions not available.'"></p>
                </div>
                
                <div *ngIf="load === 'reimbursement'">
                    <p class="pb-4 leading-[30px]" [innerHTML]="apiData.reimbursment || 'Terms and conditions not available.'"></p>
                </div>

            </article>
        </div>
    </div>
</div>

<app-footer-one />